DB_HOST=localhost
DB_NAME=restaurant_app
DB_USER=root
DB_PASS=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Etoile d'Or

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

URL_SITE=http://restaurant.local